node_modules

# Yarn
.yarn/*
**/.yarn/build-state.yml
**/.yarn/install-state.gz
!.yarn/patches
!.yarn/releases

# Build
bundles/*
!bundles/@yarnpkg
bundles/@yarnpkg/*
!bundles/@yarnpkg/plugin-unused-resolutions.js
