name: Build and Test

on:
  pull_request: {}

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: yarn install
      - run: yarn format
      - run: yarn build
      - run: yarn test
      # check the built bundle was committed
      - run: git diff --exit-code
